{% extends directory ~ '/templates/blocks/block.html.twig' %}

{% block content %}
    {% embed "@molecules/02-blocks/07-give-block-full-width.twig" %}
        {% block content %}
            {{ content.body['#items'].value | raw }}
        {% endblock %}

        {% block button %}
            {% if content.field_link_to[0]['#url'].external %}
                {% set link_url = content.field_link_to[0]['#url'].uri %}
            {% else %}
                {% set link_url = path(content.field_link_to[0]['#url'].routeName, {'node': content.field_link_to[0]['#url'].routeParameters.node }) %}
            {% endif %}

            {% if content.field_button_style['#items'].value == 0 %}
                <a class="btn btn--secondary" href="{{ link_url }}">
                    {{ content.field_link_to['#items'].title }}
                </a>
            {% else %}
                <a class="btn btn--with-icon" href="{{ link_url }}">
                    {{ content.field_link_to['#items'].title }} <i class="fa fa-heart"></i>
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}