{% extends "@organisms/00-global/header-style-1.twig" %}

{% block upper_menu %}
    {{ page.topmost_menu }}
{% endblock %}

{% block search_panel %}
    {% if page.search %}
        {{ page.search }}
    {% endif %}
{% endblock %}

{% block mobile_search %}
    {{ block('search_panel') }}
{% endblock %}

{% block branding %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img class="nav-logo black" src="{{ logo_box }}" alt="{{ site_name }}" />
        <img class="nav-logo white" src="{{ logo_box_white }}" alt="{{ site_name }}" />
        <span class="nav-site-title">{{ site_slogan }}</span>
    </a>
{% endblock %}

{% block main_navigation %}
    {{ page.primary_menu }}
{% endblock %}

{% block mobile_navigation %}
    {{ page.primary_menu }}
{% endblock %}


{% block search_button %}
<li><button class="mobile-search-form-toggle"><span class="fa fa-search"></span> <span class="text-indent">Search giving.ucsf.edu</span></button></li>
{# COMMENTING OUT OLD SEARCH BUTTON    <li>
        <input class="input-text hidden" type="text" name="search" id="searchDesktop">
        <a class="btn btn-search" href="/search">
            <span class="fa fa-search" aria-hidden="true"></span>
        </a>
    </li>#}
{% endblock %}


{% block give_button %}
    <li>
        <a class="btn btn--with-icon header-give-btn" href="{{ header_give_button }}">
            Give <span class="fa fa-heart"></span>
        </a>
    </li>
{% endblock %}



{% block toggles %}
    <ul class="nav-mobile-toggles">
        <li><button class="mobile-search-form-toggle"><span class="fa fa-search fa-fw"></span> <span class="text-indent">Search giving.ucsf.edu</span></button></li>
        <li><button class="mobile-menu-toggle"><span class="fa fa-bars fa-fw"></span> <span class="text-indent">Toggle Menu</span></button></li>
    </ul>
{% endblock %}
